@model List<Product>
<partial name="_Notifications" />
<div class="row">
    <div class="col-md-9">
        <h1>LIST PRODUCT</h1>
    </div>
    <div class="col-md-3">
        <a asp-action="Create" class="mt-1 btn btn-secondary"><i class="bi bi-plus-circle"></i> Create new product</a>
    </div>
</div>


<table class="table table-bordered">
    <thead>
        <tr>
            <th>Name</th>
            <th>Price</th>
            <th>Category</th>
            <th  class="text-center" >Image</th>
            <th class="text-center">Action</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var x in Model)
        {
            <tr  class="text-center" >
                <td>@x.Name</td>
                <td>@x.Price</td>
                <td>@x.Category.Name</td>
                <td>
                    @if(x.ImageUrl != null)
                    {
                        <img src="/@x.ImageUrl" style="width:100px; height:100px; object-fit:scale-down"/>
                    }
                </td>
                <td class="text-center">
                    <a asp-action="Edit" asp-route-id="@x.Id" class="btn btn-success"><i class="bi bi-pencil-square"></i> Edit</a>
                    <a onclick=Delete("/product/delete/@x.Id") class="btn btn-outline-danger" ><i class="bi bi-x-circle"></i> Delete</a>
                </td>
            </tr>
        }
    </tbody>
</table>


<div>
    <ul class="pagination justify-content-center">

        <li class="page-item @(ViewBag.PageIndex==1?"disabled":"")">
            <a class="page-link" asp-action="Index" asp-route-page="1">&laquo;</a>
        </li>
        @for(int i =1; i<=ViewBag.PageSum; i++)
        {
            <li class="page-item @(ViewBag.PageIndex==i?"active":"")">
                <a class="page-link" asp-action="Index" asp-route-page="@i">@i</a>
            </li>
        }
        <li class="page-item @(ViewBag.PageIndex==ViewBag.PageSum?"disabled":"")">
            <a class="page-link" asp-action="Index" asp-route-page="@ViewBag.PageSum">&raquo;</a>
        </li>
    </ul>
</div>
@section Scripts{ 
}
